.card {
    perspective: 1000px;
}

.card div {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card .front, .card .back {
    backface-visibility: hidden;
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
}
.flipped .front{
    transform: rotateY(0);
    transition-delay: 0.2s;
}
.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay:0s ;
}
